.row
  .col-sm-12.offset-sm-0.col-md-6.offset-md-3.text-center
    h4.display-4= @ads_item.title
.row
  .col-sm-12.offset-sm-0.col-md-6.offset-md-3
    .card
      .card-block
        = form_for @ads_item, url: {action: :update} do |f|
          - if @ads_item.errors.any?
            #error_explanation
              h2
                = pluralize(@ads_item.errors.count, "error")
                | prohibited
                | this ads_items from being saved:
              ul
                - @ads_item.errors.full_messages.each do |msg|
                  li= msg
          .form-group
            - @ads_item.images.each do |image|
              = image_tag(image.url.to_s, class: 'card-img-top img-fluid mx-auto d-block')
            .field
              = f.label :images
              = f.file_field :images, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png"
            .form-group
              div= f.label :title
              = f.text_field :title, :class => 'form-control'
            .form-group
              div= f.label :text
              = f.text_area :text, :class => 'form-control'
            button.btn.btn-primary type="f.submit" = t'buttons.submit'
            .form-group
              - if @ads_item.approved == true
                small.text-muted
                  | published by #{@ads_item.user.email}
                small.text-muted
                  | at  #{@ads_item.approval_date.strftime("%d.%m.%Y %H:%M")}
              - else
                small.text-muted
                  | send by #{@ads_item.user.email}
                small.text-muted
                  | at  #{@ads_item.updated_at.strftime("%d.%m.%Y %H:%M")}
.row
  .col-sm-12.offset-sm-0.col-md-8.offset-md-2
    nav.breadcrumb
      = link_to "#{t('back')}", ads_items_path, class: "breadcrumb-item"
      span.breadcrumb-item.active= @ads_item.title
