<h1>На этом месте могла бы быть ваша реклама</h1>
<a href=/ads_items/new class="btn btn-primary">new ad</a>
<div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
                <div class="card" style="width: 30rem;"> 
                    <div class="card-block">
                        <% @ads_items.each do |item| %>
                        <img class="card-img-top img-fluid" src="<%= item.image %>" alt="Card image cap">
                        <h4 class="card-title"><%= item.title %></h4>
                        <p class="card-text"><%= item.text %></p>                        
                        <a href=  /ads_items/<%= item.id %> class="btn btn-primary">show ad</a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
