.header.clearfix
  nav
    ul.nav.nav-pills.float-right
      - if user_signed_in?
        = image_tag(current_user.avatar.url(:medium), class: "round-image-40")
        = link_to "#{current_user.email}", ads_items_user_page_url(@ads_items), class: "nav-link"
        .nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="http://example.com" 
            = t 'language'
          .dropdown-menu aria-labelledby="navbarDropdownMenuLink" 
            - I18n.available_locales.each do |language|
              = link_to t("name", :locale => language) , url_for( :locale => language), class: "dropdown-item"
        - if current_user.try(:admin?)
          = link_to "#{t 'admin_page'}", admin_dashboard_path, class: "nav-link"
        = link_to "#{t 'log_out'}", destroy_user_session_path, method: :get, class: "nav-link"
      - else
        .nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="http://example.com" 
            = t 'language'
          .dropdown-menu aria-labelledby="navbarDropdownMenuLink" 
            - I18n.available_locales.each do |language|
              = link_to t("name", :locale => language) , url_for(:locale => language), class: "dropdown-item"
        = link_to "#{t 'log_in'}", new_user_session_path, class: "nav-link"
        = link_to "#{t 'sign_up'}", new_user_registration_path, class: "nav-link"
    = link_to 'Ads Board', ads_items_path, :class => 'navbar-brand'
 